.product-details-container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.product-images {
    flex: 0 0 auto;
    width: 40%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.product-images img {
    width: 100px; 
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-description {
    flex: 1;
    /* margin-left: 53px;  */
    margin-bottom: 10px;
    margin-top: 125px;
    margin-left: 10%;
}

.custom-select {
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}
.main-image-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 150px;
    width: 400px;
    height: 400px;
    position: fixed;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
}
.thumbnail-card {
    margin-bottom: -110px;
    border: 1px solid #ccc;
    width: 100px;
    margin-top: 128px;
}
.thumbnail-card img {
    width: auto;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
.thumbnail-images img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.selected-image img{
    width: 400px;
    height: 400px;
} 
