.navv {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 70px;
    border-bottom: 1px solid rgb(148, 145, 145);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #007bff;
}

.search-bar {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar {
    width: 38%;
    margin: 10px auto;
    display: flex;
  }
  
  .search-bar form {
    display: flex;
    width: 100%;
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
  }

  .sidebar{
    display: none;
  }
  
  @media (max-width: 768px) {
    .logo a{
        
        width: 20%;
    }
    .search-bar {
        display: none; /* Hide the search bar */
       
    }
    .ul {
        display: none; /* Hide the list */
    }
   .sidebar2{
    display: none;
   }
   .sidebar{
    display: block;
 margin-top: -15%;
   
   }
   .navv{
    padding: 10px 60px;
    
   }
}
 

