.css-ewdv3l{
    overflow:hidden ;
  }
  .custom-sidebar {
    background-color: white;
  }
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .custom-sidebar {
      width: 100%;
      margin-top: 60px; /* Adjust as needed */
    }
  }
  
  .css-16jesut > .ps-menu-button {
    height: 35px !important; /* Change the height to your desired value */
    padding-left: 40px !important;
    font-size: small;
    color: #707a92 !important;
  }
  .css-1t8x7v1 >.ps-menu-button{
    height: 35px !important; /* Change the height to your desired value */
    padding-left: 40px !important;
    color: #707a92 !important;
  }
  .mf{
    margin-left: 16%;
    color: #707a92 !important;
  }
  .css-honxw6{
    margin-left: -2874%;
    color: #707a92 !important;
  }
  .ps-menu-label css-12w9als{
    color: #707a92 !important;
  
  }
  .css-12w9als{
    color: #707a92 !important;
  font-size: small
  }
  .css-jn69v9{
    margin-left: -3896%;
    color: #707a92 !important;
  }
  .css-x3jz15 >.ps-menu-button{
    height: 35px !important; /* Change the height to your desired value */
  }
  .css-1ffbfs >.ps-menu-button{
    height: 35px !important; /* Change the height to your desired value */
  
  }
  .css-1ffbfs >.ps-menu-button{
    padding-left: 60px !important;
    padding-right: 0px !important;
  }

  .css-honxw6 {
    margin-left: -3896%;
    color: #707a92 !important;
}
